.card {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(201, 198, 198);
    border-radius: 0.75rem;
    overflow: transparent;
    overflow: hidden;
}

.imgContainer {
    overflow: hidden;
    height: 300px;
}

.imgContainer>img {
    width: 400px;
    height: 300px;
    transition: transform 0.3s ease-in-out;
}

.imgContainer>img:hover {
    transform: scale(1.06);
}

.option {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.option>li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.option>li>button,
.buttonContainer>button {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: none;
    background-color: #65c5c1;
    color: white;
    transition: background-color 0.2s ease-in-out;
    outline: none;
    cursor: pointer;
}

.option>li>button:hover,
.buttonContainer>button:hover {
    background-color: #53b5b8;
}

.option>li>button:active,
.buttonContainer>button:active {
    background-color: #42a5a8;
    ;
}

.del {
    text-decoration: line-through;
    text-decoration-color: red;
}

.add {
    width: 100%;
    border: none;
    padding: 10px;
    background-color: #65c5c1;
    color: white;
    transition: background-color 0.2s ease-in-out;
}

.add:hover {
    background-color: #53b5b8;
    cursor: pointer;
}

.add:active {
    background-color: #42a5a8;
    transform: translateY(2px);
}