.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    width: 100%;
    background-color: #65c5c1;
    font-size: 35px;
}

.imgContainer {
    display: flex;
    align-items: center;
    width: 15%;
}

.logo {
    width: 7vh;
    padding-left: 10px;
}


.socityContent {
    padding-right: 10px;
}

.socityIMG {
    width: 50px;
    transition: transform 0.3s ease-in-out;
}

.socityIMG:hover {
    transform: scale(1.1);
}

ul {
    display: flex;
}

.menu {
    list-style-type: none;
}

.navMain {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    color: white;
    width: 50%;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal
}

.menu {
    display: inline-block;
    line-height: 1;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

.menu::after {
    display: block;
    content: "";
    margin-top: 5px;
    height: 3px;
    width: 0%;
    background-color: #ffffff;
    transition: width 0.4s ease-in-out;
}

.menu:hover:after,
.menu:focus:after {
    width: 100%;
}

li {
    list-style-type: none;
}

.searchContainer {
    display: flex;
    align-items: center;
    gap: 2px;
    width: 15%;
    justify-content: flex-end;
}

.search {
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    color: white;
    font-size: medium;
}

.searchContainer>button {
    padding: 5px;
    background: transparent;
    color: white;
    outline: none;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 0.2rem;
    font-weight: bold;
    transition: transform 0.1s ease-in-out;
}

.searchContainer>button:active {
    transform: scale(0.95);
}

.searchContainer>div>img {
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease-in-out;
    padding: 0px 40px;
}